body {
    cursor: url('https://github.com/LUPRWEST/luprwest.github.io/blob/main/cursor.PNG?raw=true') 2 2, default;
}
a, button{
    cursor: url('https://github.com/LUPRWEST/luprwest.github.io/blob/main/cursor_event.PNG?raw=true') 2 2, pointer;
}

*{
    /*화면 비율*/
    box-sizing: border-box;
    margin: 0;

    /*font*/
    font-family: "Hahmlet", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

a:link { color: #1d8aae; text-decoration: none;}	
a:visited { color: #1d8aae; text-decoration: none;}	
a:hover { color: #26608f; text-decoration: none;}

/*화면 비율*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;

}

.container {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr, 100%;

    height: auto;
    min-height: 100%;
    padding-bottom: 10px;

}

.header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 20px;
}
#part-container-notice li {
    display: none;
    list-style: none;
    margin-left: 5px;
    padding-left: 5px;
}

#part-container-notice {
    display: none;
    margin-left: 5px;
    padding-left: 5px;
}

.info {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    padding: 20px;
    min-width: 100px;
}
.prople {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 20px;
}
.link {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding: 20px;
}
.contect {
    background-color: rgb(206, 223, 225);
    z-index: 1;
    position: fixed;

    right: 5%;
    bottom: 5%;
    padding: 5px;
}
.others {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    padding: 20px;
}
footer {
    text-align: center;
    position : relative;
    padding-bottom: 10px;
    transform : translateY(-100%);
    font-size: 15px;
}


