/*cursor*/
body {
    cursor: url('https://github.com/LUPRWEST/luprwest.github.io/blob/main/image/cursor.PNG?raw=true') 2 2, default;

    /*font*/
    font-family: 'neodgmFont', sans-serif;
}
a, button{
    cursor: url('https://github.com/LUPRWEST/luprwest.github.io/blob/main/image/cursor_event.PNG?raw=true') 2 2, pointer;
}